.main-cart {
    width: 90vw;
    height: 100vh;
    margin: 3%;
}

.outer-cart {
    width: 90%;
    height: auto;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
}

.home-cart {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1%;
    margin-left: 1%;
}

.book-cart {
    width: 70%;
    height: 10% !important;
    /* border: 2px solid gray; */
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
}

.address-cart {
    width: 90%;
    height: 15%;
    border: 2px solid gray;
    margin: 3%;
    display: flex;
    justify-content: left;
}

.order-cart {
    width: 90%;
    height: 15%;
    border: 2px solid gray;
    margin: 3%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.my-cart {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.bookdetails-cart {
    width: 100%;
    height: auto !important;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    margin: 1%;
}

.button-cart {
    width: 100%;
    height: 10%;
    margin-top: -1%;
}

.sub-my-cart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#location-cart {
    border: 2px solid gray;
    width: 100% !important;
    height: 100% !important;
    font-size: small;
    justify-content: right;
    display: flex;
    flex-direction: row;
    margin-left: 40% !important;
    margin-top: 1% !important;
}

#book-image-cart {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-cart {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: -25%
}

#author-cart {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    margin-left: -25%
        /* margin-left: -39%; */
}

#discount-price-cart {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    margin-left: -25%
}

#incre-decre-cart-icon-sub {
    margin-left: 2%;
    width: 50%;
}

#incre-decre-cart-icon-add {
    width: 50%;
    margin-left: -20%;

}

.incre-decre-cart-icon-box {}

.incre-decre-cart {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    margin-left: -4%;
    margin-top: 5%;
}

.main-image-cart {
    width: 100%;
    height: 50% !important;
}

#discount-cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -5%;
    justify-content: center;
    align-items: center;

}

.price-cart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -65%;
    text-decoration: line-through;
    justify-content: center;
    align-items: center;
    margin-top: 0.2%;
}

#incre-decre-cart-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 30%;
}

#remove-cart-buuton {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -45%;
    margin-top: -0.7%;
}

.book-image-cart img {
    justify-content: center !important;
    display: flex;
    align-items: center !important;
    margin-left: 20% !important;
}

.button-cart Button {
    display: flex;
    flex-direction: row;
    margin-left: 76%;
    margin-top: 1%;
}

#location-symbol {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.use-current {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;


}

.arrow-cart {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.use-current {
    margin-left: 5% !important;
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width:720px) {
    .outer-cart {
        width: 100vw;
        height: 80vh;
    }
}