.outer-wishlist{
width: 90vw;
height: 90vh;
}

.wishlist-header{
    }

.wishlist-home{
    border: 2px solid rebeccapurple;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 1%;
}

.wishlist-page{
    border: 2px solid green;
width: 100%;
height: 80%;
margin: 1%;
}

.wishlist-page{
    border: 2px solid black;
    width: 100%;
    height: 60%;

}

.my-wishlist{
    border: 2px solid rebeccapurple;
width: 100%;
height: 10%;
}

.whole-wishlist{
    border: 2px solid red;
    width: 100%;
    height: 90%;

}

.book-wishlist{
    border: 2px solid palegreen;
width: 20%;
height: 80%;
display: flex;
flex-direction: column;
margin: 1%;
}

.book-image-wishlist{
    border: 2px solid peru;

}

.title-wishlist{
    border: 2px solid purple;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;

}

.author-wishlist{
    border: 2px solid blue;

}

.price-wishlist{
    border: 2px solid yellowgreen;

}

.remove-icon-wishlist{
    border: 2px solid navajowhite;

}