.main-cart-wishlist {
    width: 90vw;
    height: 100vh;
    margin: 3%;
}

.outer-cart-wishlist {
    width: 90%;
    height: auto;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;

}

.home-cart-wishlist {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1%;
    margin-left: 0.2%;
}

.book-cart-wishlist {
    width: 70%;
    height: 10% !important;
    /* border: 2px solid gray; */
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2%;

}

.my-cart-wishlist {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.bookdetails-cart-wishlist {
    width: 100%;
    height: auto !important;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    margin: 1%;
    margin-top: 5%;
    margin-left: -14%;

}

.sub-my-cart-wishlist {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}



#book-image-cart-wishlist {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-cart-wishlist {

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: -55%
}

#author-cart-wishlist {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    margin-left: -25%
        /* margin-left: -39%; */
}

#discount-price-cart-wishlist {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    margin-left: -25%
}




.main-image-cart-wishlist {
    width: 100%;
    height: 50% !important;
}

#discount-cart-wishlist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -5%;
    justify-content: center;
    align-items: center;

}

.price-cart-wishlist {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -65%;
    text-decoration: line-through;
    justify-content: center;
    align-items: center;
    margin-top: 0.2%;
}


.book-image-cart-wishlist img {
    justify-content: center !important;
    display: flex;
    align-items: center !important;
    margin-left: 20% !important;
}

.button-cart-wishlist Button {
    display: flex;
    flex-direction: row;
    margin-left: 76%;
    margin-top: 1%;
}






@media screen and (max-width:720px) {
    .outer-cart {
        width: 100vw;
        height: 80vh;
    }
}